
body {
  background: url(biblio.webp) no-repeat center center fixed rgba(0, 0, 0, 0.5);
  background-size: cover;

}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  height: 100vh;
  width: 100vw;
}

.button {
  height: 60px;
  width: 250px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
  border: 3px solid white;
  background-color: transparent;
  background-repeat: no-repeat;
  color: white;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: 600;
  font-size: 20px;
  border-radius: 30px;
}

.button:hover {
  background: white;
  color: black;
}

@font-face {
  font-family: 'Caveat';
  src: local('Caveat'),
  url('./fonts/Caveat-Medium.ttf') format('truetype');
  font-weight: bold;
}

.text {
  font-family: "Caveat";
  font-size: 28px;
}